
<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="" placeholder="Enter Your Email">
    <input type="password" name="password" id="" placeholder="Enter Your Password">
    <input type="submit" value="Submit" id="">
</form>