header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    padding: 10px;
    height: 4%;
    .logo a{
        // cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        font-size: 2rem;
    }
    .nav-links a{
        text-decoration: none;
        font-size: 1rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-right: 15px;
        // cursor: pointer;
    }
}